h1 {
    color: white;
    margin: auto;
}

article{
    margin: 15px 0 0 0;
}
.rightColumn{
    padding-left: 30px;
}

.borderThis{
    border-style: solid none solid solid;
    border-width: 1px;
    border-color: #ccc;
    line-height: 3;
    padding: 16px 0 32px 16px;
}

#citySearch{
    width: 60%;
    display: inline-block;
}

button{
    
    /* align-items: right; */
    display: inline-block;
    margin: 0 0 5px 0;
}
h3{
    margin-top: 15px;
}

p {
    margin-bottom: 0px;
}
.cityUVstyle {
    line-height: 0;
    margin: 5px 0px 5px 10px;
    padding-top: 18px;
}

.orange {
    background-color: orange;
    border-color: orange;
    color: black;
}
.purple {
    background-color: purple;
    border-color: purple;
    
}

.card-body {
    padding: 10px;
}


#fahr{
    display: inline-block;
}