h1 {
    color: white;
    margin: auto;
}

article{
    margin: 15px 0 0 0;
}

.borderThis{
    border-style: solid none solid solid;
    border-width: 1px;
    border-color: #ccc;
    line-height: 3;
    padding: 16px 0 32px 16px;
}

#citySearch{
    width: 60%;
    display: inline-block;
}

button{
    
    /* align-items: right; */
    display: inline-block;
    margin: 0 0 5px 0;
}
h3{
    margin-top: 15px;
}
